/* Sticky footer styles
 * -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 80px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;
}


/* Custom page CSS
 * -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 0 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.container a:before{
    font-family: 'FontAwesome';
    margin: 0 3px;
}
.container a[href^="http://"]:before, a[href^="https://"]:before {
    content: '\f08e';
    color: #03c;
}
.container a[href*="tmu.ac.jp"]:before {
    content: '';
    margin: 0;
}
.flowplayer a:before {
    content: '' !important;
    margin: 0 !important;
}

.container a:after{
    font-family: 'FontAwesome';
    margin: 0 3px;
}
.container a[href$=".pdf"]:after {
    content: '\f1c1';
    color: #ff0505;
}
.container a[href$=".doc"]:after, a[href$=".docx"]:after {
    content: '\f1c2';
    color: #2a5699;
}
.container a[href$=".xls"]:after, a[href$=".xlsx"]:after {
    content: '\f1c3';
    color: #227547;
}
.container a[href$=".ppt"]:after, a[href$=".pptx"]:after {
    content: '\f1c4';
    color: #d04424;
}
.container a[href$=".accdb"]:after {
    content: '\f0f6';
    color: #a2383c;
}

.caption {
    text-align: center;
}

.link {
    margin-bottom: 1em;
}

.link .label {
    font-size: 90%;
    margin-right: 0.5em;
}

h1 .label {
    font-size: 90%;
    margin-right: 0.5em;
}

h2 {
    color: #3f4e63;
    padding-left: 10px;
    border-left: 4px solid #3f4e63;
    border-bottom: 1px solid #3f4e63;
    margin-top: 40px;
}
h3 {
    color: #3f4e63;
    padding-left: 10px;
    border-left: 4px solid #3f4e63;
    margin-top: 20px;
}
h4 {
    color: #3f4e63;
}

dl {
    margin-top: 1em;
    margin-bottom: 1em;
}
dl dt {
    margin-top: 0.5em;
}
dl dd {
    padding-left: 2em;
}

img.icon {
    width: auto;
    max-height: 48px;
}

div.thumbnail .img-responsive {
    max-height: 480px;
}

div.container > div.thumbnail {
    margin-bottom: 30px;
}

#page-top{
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: -60px;
    right: 10px;
    width: 80px;
    padding: 20px 10px;
    background: rgba(0,0,0,.7);
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}
#page-top:hover{ 
    background: rgba(0,0,0,.8);
}
