<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="{{ '/js/jquery.lazyload.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/jquery.toc.js' | prepend: site.baseurl }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ '/js/ekko-lightbox.min.js' | prepend: site.baseurl }}"></script>
<script src="https://releases.flowplayer.org/7.2.6/flowplayer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5//MathJax.js?config=TeX-MML-AM_CHTML" async></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
